# Ignore transaction JSON files written at runtime, but keep the folder itself
transactions/*.json

transactions/backup/

transactions/testing-time/

transactions/testing-period/


transactions/receipts/*.html
